<a href="https://colab.research.google.com/github/ali-sdg/chinook_analytics_sqLite3/blob/main/secound_homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import files
uploaded = files.upload()

ModuleNotFoundError: No module named 'google'

In [9]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('chinook.db')

ModuleNotFoundError: No module named 'pandas'

In [ ]:
# ask a keywords from user
keywords_input = input("Enter keywords(EX: Rock, Beatles, Love) — seperate with comma:  ")
# transform str's to list of keywords , del extra spaces(our filter)
keywords = [kw.strip() for kw in keywords_input.split(',') if kw.strip()]

In [ ]:
keywords_input = input("Enter keywords (e.g. Rock, Beatles, Love) — separate with comma: ")
keywords = [kw.strip() for kw in keywords_input.split(',') if kw.strip()]

if not keywords:
    print("You didn't enter a keyword.")
    conn.close()
    exit()

In [ ]:
where_clauses = []
params = []
for kw in keywords:
    clause = "(t.Name LIKE ? OR ar.Name LIKE ? OR g.Name LIKE ?)"
    where_clauses.append(clause)
    like_param = f"%{kw}%"
    params.extend([like_param, like_param, like_param])

where_sql = " OR ".join(where_clauses)

sql_query = f"""
SELECT
  t.TrackId,
  t.Name AS TrackName,
  al.Title AS AlbumTitle,
  ar.Name AS ArtistName,
  g.Name AS GenreName,
  t.UnitPrice
FROM tracks t
JOIN albums al ON t.AlbumId = al.AlbumId
JOIN artists ar ON al.ArtistId = ar.ArtistId
JOIN genres g ON t.GenreId = g.GenreId
WHERE {where_sql}
"""
df = pd.read_sql_query(sql_query, conn, params=params)

In [1]:
where_clauses = []
params = []
for kw in keywords:
    clause = "(t.Name LIKE ? OR ar.Name LIKE ? OR g.Name LIKE ?)"
    where_clauses.append(clause)
    like_param = f"%{kw}%"
    params.extend([like_param, like_param, like_param])

where_sql = " OR ".join(where_clauses)

sql_query = f"""
SELECT
  t.TrackId,
  t.Name AS TrackName,
  al.Title AS AlbumTitle,
  ar.Name AS ArtistName,
  g.Name AS GenreName,
  t.UnitPrice
FROM tracks t
JOIN albums al ON t.AlbumId = al.AlbumId
JOIN artists ar ON al.ArtistId = ar.ArtistId
JOIN genres g ON t.GenreId = g.GenreId
WHERE {where_sql}
"""
df = pd.read_sql_query(sql_query, conn, params=params)

NameError: name 'keywords' is not defined

In [2]:
def compute_score(row, keywords):
    score = 0
    for kw in keywords:
        if kw.lower() in str(row['TrackName']).lower():
            score += 1
        if kw.lower() in str(row['ArtistName']).lower():
            score += 2  # the most weight for actors
        if kw.lower() in str(row['GenreName']).lower():
            score += 1
    return score

df['Score'] = df.apply(lambda r: compute_score(r, keywords), axis=1)

# just records that have weight
df = df[df['Score'] > 0]

# sort by value
df = df.sort_values(by='Score', ascending=False)

NameError: name 'df' is not defined

In [3]:
if df.empty:
    print("No results found.")
else:
    display(df.head(50))

conn.close()

NameError: name 'df' is not defined